<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="${CN_APP_LNAME}" 
           Language="1033" 
           Version="${CN_APP_VERSION}.0" 
           Manufacturer="${CN_APP_VENDOR}" 
           UpgradeCode="3A1DF4A8-BBFF-4F80-815B-5DC074B32BF4">
    
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Description="${CN_APP_DESC}"
             Comments="${CN_APP_LNAME} Service Installer"
             Manufacturer="${CN_APP_VENDOR}" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <!-- License Configuration -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <!-- Detect existing conf file to avoid overwriting on install/upgrade -->
    <Property Id="CONF_EXISTS">
      <DirectorySearch Id="ConfDirSearch" Path="[INSTALLFOLDER]\conf">
        <FileSearch Id="ConfFileSearch" Name="${CN_APP_CONF}" />
      </DirectorySearch>
    </Property>
    
    <!-- Add/Remove Programs Properties -->
    <!-- <Property Id="ARPPRODUCTICON" Value="ApplicationIcon" /> -->
    <!-- <Property Id="ARPURLINFOABOUT" Value="https://github.com/serhmarch/${CN_APP_NAME}" /> -->
    <!-- <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" /> -->
    <!-- <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" /> -->
    <!-- <Property Id="ARPHELPLINK" Value="https://github.com/serhmarch/${CN_APP_NAME}/issues" /> -->
    <!-- <Property Id="ARPCONTACT" Value="${CN_APP_VENDOR}" /> -->
    <!--
    <WixVariable Id="WixUIExclamationIco" Value="${CN_APP_NAME}.ico" />
    <WixVariable Id="WixUIInfoIco" Value="${CN_APP_NAME}.ico" />
    <WixVariable Id="WixUINewIco" Value="${CN_APP_NAME}.ico" />
    <WixVariable Id="WixUIUpIco" Value="${CN_APP_NAME}.ico" />
    -->
    <!-- Define installation directory -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="${CN_APP_NAME}">
            <Directory Id="confFolder" Name="conf"/>
            <Directory Id="docFolder" Name="doc"/>
            <Directory Id="logFolder" Name="log"/>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" />
      <Directory Id="DesktopFolder" />
    </Directory>

    <!-- Application Icon -->
    <!-- <Icon Id="ApplicationIcon" SourceFile="${CN_APP_NAME}.exe" /> -->

    <!-- Define features -->
    <Feature Id="ProductFeature" Title="${CN_APP_LNAME}" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

  </Product>

  <!-- Components -->
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <!-- Main exe file with Windows Service -->
      <Component Id="cmpProjectExecutable" Guid="D557B5C4-2CD7-4DDC-8246-6121A2AB1112" Directory="INSTALLFOLDER">
        <RemoveFile Id="RemoveOldExe" Name="${CN_APP_NAME}.exe" On="install" />
        <File Id="ProjectExe" 
              Source="${CN_APP_NAME}.exe" 
              KeyPath="yes" 
              Checksum="yes" />
        
        <!-- Windows Service Installation -->
        <ServiceInstall Id="ProjectService"
                        Type="ownProcess"
                        Name="${CN_APP_NAME}"
                        DisplayName="${CN_APP_NAME}"
                        Description="${CN_APP_DESC}"
                        Start="demand"
                        Account="LocalSystem"
                        ErrorControl="normal"
                        Interactive="no" />
        
        <!-- Service Control (Start/Stop) -->
        <!-- <Service Control Start="install" />  was disabled -->
        <ServiceControl Id="ProjectServiceControl"
                        Name="${CN_APP_NAME}"
                        Stop="both"
                        Remove="uninstall"
                        Wait="yes" />
      </Component>

      <!-- Service install/uninstall script -->
      <Component Id="cmpServiceInstallBatScript" Guid="F93D7FCD-AD0B-4DBE-A999-947684DDA85F" Directory="INSTALLFOLDER">
        <RemoveFile Id="RemoveOldBatScript" Name="${CN_APP_NAME}s.bat" On="install" />
        <File Id="ServiceBatScript" Source="${CN_APP_NAME}s.bat" />        
      </Component>

      <!-- Ensure conf folder persists across uninstall -->
      <Component Id="cmpCreateConfFolder" Guid="8CB9A8C6-0381-4223-9B34-740BD8FE4253" Directory="confFolder" Permanent="yes">
        <CreateFolder />
      </Component>

      <!-- Config file in conf subfolder, keep across uninstall and skip install if file already exists -->
      <Component Id="cmpProjectConfig" Guid="8CB2BE33-41BF-46FA-8A00-B582E8AD73DE" Directory="confFolder" Permanent="yes">
        <Condition><![CDATA[NOT CONF_EXISTS]]></Condition>
        <File Id="ProjectConf" 
          Source="conf/${CN_APP_CONF}" 
          KeyPath="yes" />
      </Component>

      <!-- Help file in doc subfolder -->
      <Component Id="cmpProjectHelp" Guid="E289E1BB-7897-4A95-8747-7CEBEC86E0CC" Directory="docFolder">
        <RemoveFile Id="RemoveOldHelp" Name="*" On="install" />
        <CreateFolder />
        <File Id="ProjectChm" 
              Source="doc/${CN_APP_NAME}.chm" 
              KeyPath="yes" />
        <File Id="ProjectChangelog"
              Source="doc/changelog.md" />
      </Component>

      <!-- log folder -->
      <Component Id="cmpCreateLogFolder" Guid="FBA90D8C-85A4-4B8B-A238-E97F0EF0D833" Directory="logFolder">
        <CreateFolder />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>